<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Empowerly</title>
</head>
<body>
    <%- include('./partials/_navbar.ejs') %>
    <h1>Empowerly</h1>
    <p>
      A college application tracker.
    </p>
</body>
</html>
